:root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #2e3440;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.plain-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-row:not(:last-child) {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
}
